# ================================
# Python
# ================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ================================
# Virtual environments
# ================================
.venv/
venv/
env/

# ================================
# Jupyter Notebook
# ================================
.ipynb_checkpoints
*.ipynb_save

# ================================
# Logs & debug
# ================================
*.log
*.pot
*.pyc

# ================================
# VS Code
# ================================
.vscode/
.history/

# ================================
# Sistema Operacional
# ================================
.DS_Store
Thumbs.db

# ================================
# Variáveis de ambiente / chaves
# ================================
.env
*.env
